#header-content {
    display: flex;
    border-top: 1px solid #000000;
    border-bottom: 2px solid #000000;
}

#header-content .logo {
    width: 150px;
    height: 80px;
}

.logo img {
    width: 100%;
    height: 100%;
}

main {
    display: grid;
    grid-template-columns: 200px 3fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "main-navigation main-content last-viwed"
                         "main-navigation footer footer";
}

#main-navigation {
    grid-area: main-navigation;
    background-color: greenyellow;
    border-right: 2px solid #000000;
}

ul {
    list-style-type: none;
    padding: 0;
}

#main-navigation ul {
   
    margin: 0;
    background-color: gray;
}

#main-navigation ul li a{
    display: block;
   text-decoration: none;
   padding: 10px 0 10px 20px;
   color: #ffffff;
}

#main-content {
    grid-area: main-content;
}

#main-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    padding: 20px 0;
}

#main-content .book-content{
    width: 33.3%;
}

#main-content .image-box {
    width: 180px;
    height: 225px;
    margin: 0 auto;
}

#last-viwed .image-box {
    width: 150px;
    height: 180px;
}

#main-content .image-box img, #last-viwed .image-box img {
    width: 100%;
    height: 100%;
}

#main-content .book-content:last-child {
    width: 100%;
}

#last-viwed {
    grid-area: last-viwed;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    border-left: 2px solid #000000;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: space-evenly;
    background-color: green;
    border-top:2px solid #000000;
}