body {
    text-align: center;
}

.bg-red {
    background: red;
    border: 5px solid green!important;
}

#square {
    width: 500px;
    height: 500px;
    border: 5px solid red;
    margin: 50px auto;
}

#reset-btn {
    visibility: hidden;
}

